---
title: Star Wars Characters
---

<!DOCTYPE html>
<html lang="en" class="bg-white text-black">

  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles/index.css">
  </head>

  <body>
    {% include "navbar.njk" %}
    {% include "body.njk" %} 
  </body>

</html>